<div class="trash">
  <%= link_to task_down_user_list_task_path(current_user, task[:list_id], task.id), method: :put, remote: true do %>
    <i class="fas fa-caret-up fa-sm"></i>
  <% end %>
  <%= link_to task_up_user_list_task_path(current_user, task[:list_id], task.id), method: :put, remote: true do %>
    <i class="fas fa-caret-down fa-sm"></i>
  <% end %>
  <%= link_to edit_user_list_task_path(current_user, task[:list_id], task.id), remote: true do %>
    <i class="fas fa-pencil-alt fa-sm"></i>
  <% end %>
  <%= link_to user_list_task_path(current_user, task[:list_id], task.id), method: :delete, remote: true, class: "delete" do %>
    <i class="far fa-trash-alt fa-sm"></i>
  <% end %>
</div>
